mixin deviceObject(arr, imgType, btnType, btnLabel, func)
  .col-md-12.col-sm-12.col-xs-12.no-devices(data-ng-show="!#{arr}.length") No devices found
  .col-md-6.col-sm-6.col-xs-12.device-container(data-ng-repeat="device in #{arr}")
    .inner-device-container
      img(src="{{device.icon}}", alt="{{device.type}} Icon", width="128", height="128", class="device-icon #{imgType}")
      .device-info
        .row
          .col-lg-10.col-sm-12.col-xs-12
            h4.device-name {{device.name}}
            p
              sub {{device.manufacturer}}
            p.hidden-xs.hidden-sm
              small
                strong Device Type:&nbsp;
                |{{device.type}}
          .col-lg-2.col-sm-12.col-xs-12
            .pair-unpair-button
              a(href="", data-ng-click="#{func}(device)", class="btn #{btnType} btn-pairunpair btn-xs") #{btnLabel}
      
doctype html
html(lang="en", data-ng-app="deviceManager")
  head
    title Uzel | Device Manager
    link(rel="stylesheet", href="/bower_components/bootswatch/yeti/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")  
    link(rel="stylesheet", href="/css/dm.css")  
    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/bower_components/angular-socket-io/socket.min.js')
    script(src='/js/device_manager.js')
  body(data-ng-controller="DeviceController")
    script(type="text/ng-template", id="getPairingData.html")
      .modal-header
        h3.modal-title Insert the Pairing Key
      .modal-body
        form(name="pairingDataForm")
          .form-group
            input.form-control(data-ng-model="$parent.pairingData", data-ng-required="true", data-ng-pattern="/^[0-9a-fA-F]{32}$/" placeholder="Enter Pairing Key")
      .modal-footer
        button.btn.btn-confirm(data-ng-click="ok()", data-ng-disabled="pairingDataForm.$invalid") OK
        button.btn.btn-cancel(data-ng-click="cancel()") Cancel
    include ./_navigation.jade
    +nav("/", "Home", "Device Manager")
    .container
      h2.caption Paired Devices
      .row
        +deviceObject("pairedDevices", "device-paired", "btn-cancel", "Unpair", "unpairDevice")
      h2.caption Unpaired Devices
        a(href="", data-ng-click="discoverDevices()").glyphicon.glyphicon-refresh.refresh-unpaired
      .row
        +deviceObject("unpairedDevices", "device-unpaired", "btn-confirm", "Pair", "pairDevice")
      br
      br